In [8]:
import os
os.getcwd()

os.chdir('C:\\Users\\Neon\\Desktop\\working\\Python\\Project')

In [11]:
##Question1

c_price=200
disc=25
F_ship=40
o_ship=10

print((200-.01*25*200)+40)
print(59*(c_price-.01*disc*c_price)+ 59*o_ship)
print("Wholesale_price",((c_price-.01*disc*c_price)+F_ship)+(59*(c_price-.01*disc*c_price)+ 59*o_ship))

190.0
9440.0
Wholesale_price 9630.0

In [13]:
#question 2

def divisor_test(x,y):

    if x%y==0:
        print(bool(not x%y))
    else :
        print(bool(not x%y))


divisor_test(8,4)

True
None
False
None

In [10]:
#Question 3



num1= int(input("Enter the first value"))
num2= int(input("Enter the second value"))
num3= int(input("Enter the third value"))

min_val=min(num1,num2,num3)
print(min_val)

seq=list(range(min_val,0,-1))


for i in seq:
    if num1%i==0 and num2%i==0 and num3%i ==0:
        print( "HCF is ",i)
        break

Enter the first value1800
Enter the second value225
Enter the third value300
225
HCF is  75

In [35]:
#Question 4

def datecal():
    from pandas import datetime as dt
    epoch = dt.fromtimestamp(0)
    cd= print( "Current day and time :",dt.now().hour,"-",dt.now().minute,"-",dt.now().second,": epoch day difference",dt.now()-epoch)

datecal()

Current day and time : 19 - 45 - 21 : epoch day difference 18146 days, 14:15:21.831437

In [39]:
#Question 5

x=[int(input("enter the first value")),int(input("enter the Second value")), int(input("enter the Second value"))]

i=0
if (x[i] >  (x[i+1]+x[i+2])):
    print("NO")
elif (x[i+1] > (x[i]+x[i+2])):
    print("NO")
elif (x[i+2] > (x[i]+x[i+1])):
    print("NO")
else:
    print("Yes")

enter the first value3
enter the Second value2
enter the Second value1
Yes

In [43]:
#Question 7

n=int(input("number of element"))

print("You have selected a list with element = ",n )
li=[]
for i in range(n):
    li.append(int(input( f"enter the {i} element ")))
final=[]
for i in range(n):
    print(li[i])
    if i==0:
        
        final.append(li[i])
    else:
        final.append(li[i]+final[i-1])
print("inital list",li)
final

number of element3
You have selected a list with element =  3
enter the 0 element 1
enter the 1 element 2
enter the 2 element 3
1
2
3
inital list [1, 2, 3]

[1, 3, 6]

In [69]:
#Question 8
import string 

'''
this is line fir1 $
this is line  second2 @
this is line third3 %
'''

## reading text file 
f=open('input_file.txt')
data=f.read().replace('\n', ' ')
 
# printing initial ini_string 
print("initial string : ", data) 



# to remove numeric digits and ounctuation  from string 
remove_digits = str.maketrans('', '', string.digits) 
remove_punctuation = str.maketrans('', '', string.punctuation)

# using translate 
rem=data.translate(remove_digits)

rem2=rem.translate(remove_punctuation)

' '.join(rem2.split())

rem2.upper()

initial string :  this is line fir1 $ this is line  second2 @ this is line third3 %

'THIS IS LINE FIR  THIS IS LINE  SECOND  THIS IS LINE THIRD '

In [85]:
#Question 9

from os import walk

path ="C:\\Users\\Neon\\Desktop\\working\\Python"
for (dirpath, dirnames, filenames) in walk(path):
     print(dirpath,filenames)

C:\Users\Neon\Desktop\working\Python ['input_file.txt', 'learning.ipynb']
C:\Users\Neon\Desktop\working\Python\.ipynb_checkpoints ['learning-checkpoint.ipynb']
C:\Users\Neon\Desktop\working\Python\Project ['input_file.txt', 'Project.txt']
C:\Users\Neon\Desktop\working\Python\Session 1 ['Day 1.ipynb']
C:\Users\Neon\Desktop\working\Python\Session 1\.ipynb_checkpoints ['Day 1-checkpoint.ipynb']
C:\Users\Neon\Desktop\working\Python\Session 2 ['Pandas.ipynb', 'read.txt', 'Untitled.ipynb']
C:\Users\Neon\Desktop\working\Python\Session 2\.ipynb_checkpoints ['Pandas-checkpoint.ipynb', 'Untitled-checkpoint.ipynb']
C:\Users\Neon\Desktop\working\Python\Session 4 ['IMDB Case Study Python3.ipynb', 'IMDB Case Study.ipynb', 'test.csv', 'Titanic_Case_Python3.ipynb', 'train.csv', 'Twitter Case Study Python3.ipynb', 'twitter_data.csv', 'u.user', 'Untitled.ipynb']
C:\Users\Neon\Desktop\working\Python\Session 4\.ipynb_checkpoints ['IMDB Case Study-checkpoint.ipynb', 'Titanic_Case_Python3-checkpoint.ipynb', 'Twitter Case Study Python3-checkpoint.ipynb', 'Untitled-checkpoint.ipynb']

In [92]:
#Question 6

def any_uppercase2(s): 
    for c in s:
        if 'C'.isupper(): 
            print(c)
            return 'True'
        else:
            return 'False'

any_uppercase2("cat")

c

'True'

In [94]:
def any_uppercase3(s): 
    for c in s:
        flag =c.isupper()    
        return flag

any_uppercase3("FasT")

True

In [96]:
def any_uppercase4(s): 
    flag = False
    for c in s:
        flag = flag or c.isupper() 
        return flag
    
any_uppercase4("FasT")

True

In [105]:
def any_uppercase5(s): 
    for c in s:
        if not  c.isupper():
            return False
        return True

any_uppercase5("FasT")

False

In [106]:
##Question11

import pandas as pd

eq=pd.read_csv("Indian_cities.csv")

In [107]:
eq.shape

(493, 22)

In [108]:
eq.head()

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
0,Abohar,3,PUNJAB,9,145238,76840,68398,15870,8587,7283,...,44972,890,848,79.86,85.49,73.59,"30.1452928,74.1993043",16287,8612,7675
1,Achalpur,27,MAHARASHTRA,7,112293,58256,54037,11810,6186,5624,...,43086,928,909,91.99,94.77,89.00,"21.257584,77.5086754",8863,5269,3594
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
3,Adityapur,20,JHARKHAND,24,173988,91495,82493,23042,12063,10979,...,54515,902,910,83.46,89.98,76.23,"22.7834741,86.1576889",19225,12189,7036
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031

In [109]:
def f(x):
     return pd.Series(dict(pop = x['population_total'].sum(), 
                        pop_male=x['population_male'].sum(),
                        pop_fema=x['population_female'].sum()
        
                        ))


count_sum=eq.groupby('state_name').apply(f)

In [113]:
count_sum['ratio']=count_sum['pop_fema']/count_sum['pop_male']

In [119]:
pop=count_sum.sort_values(by=['pop',], ascending=[False])
high_pop=pop.head(10)

In [120]:
low_pop=pop.tail(10)

In [121]:
##Question 10

import pandas as pd

eq=pd.read_csv("earthquake.csv")

eq["Date2"]= pd.to_datetime(eq["Date"])

eq = eq.set_index(['Date2'])

eq["Date"]= pd.to_datetime(eq["Date"])

eq["Date2"]= pd.to_datetime(eq["Date"])

eq = eq.set_index(['Date2'])

eq["Date"]= pd.to_datetime(eq["Date"])

In [ ]:
def f(x):
     return pd.Series(dict(Number_of_incient = x['year'].count(), 
                        Source=x['Source'].max(),
                        Status=x['Status'].min(),
                        mag=x['Magnitude'].max(),
                        mag2=x['Magnitude'].median()
                        ))


count_sum=eq.groupby('year').apply(f)

count_sum

In [ ]:
count_sum.sort_values(by=['Number_of_incient','mag2'], ascending=[False,False])

In [ ]:
eq.groupby('year').mean().Magnitude